 <!-- Start About -->
 <section id="about" >
    <div class="cs-height_75 cs-height_lg_45"></div>
    <div class="container">
      <div class="row align-items-center flex-column-reverse-lg">
        <div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="cs-height_0 cs-height_lg_40"></div>
          <div class="cs-right_space_40">
            <div class="cs-seciton_heading cs-style1">
              <h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">FEATURED</h3>
              <h2 class="cs-section_subtitle cs-m0 cs-font_36 cs-font_24_sm">About Us</h2>
            </div>
            <div class="cs-height_20 cs-height_lg_20"></div>
            <p>  
                Discover a captivating world where dinosaurs have evolved over thousands of years in our Blockchain game project on Linea. Engage in nurturing and witnessing their growth, and even create new dinosaurs through the evolutionary process. With the secure and transparent Linea ecosystem, each dinosaur is authenticated and uniquely owned, ensuring an immersive and authentic gaming experience.
            </p>
            <p>
                Join our passionate community on Linea and embark on an exciting journey of caring for and observing the remarkable evolution of your dinosaurs. Experience the wonders of our game project on the Linea platform.
            </p>
            <div class="cs-height_25 cs-height_lg_15"></div>

          </div>
        </div>
        <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.35s">
          <img src="assets/img/aboutus.png" alt="">
        </div>
      </div>
    </div>
    <div class="cs-height_100 cs-height_lg_40"></div>
    <div class="cs-btn_group2">
      <a class="cs-btn cs-btn_filed cs-primary_btn cs-modal_btn" data-modal="mint"><span>Mint Now</span></a>
    </div>
    <div class="cs-height_100 cs-height_lg_40"></div>
  </section>

  <!-- End About -->