<!-- Start Hero -->
<section
  class="cs-hero cs-style1 cs-bg"
  data-src="assets/img/bigbackground1.png"
  id="home"
>
  <div class="cs-dark_overlay"></div>
  <div class="container">
    <div
      class="cs-hero_text wow fadeInLeft"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
    >
      <h1 class="cs-hero_title cs-font_64 cs-font_36_sm cs-bold">DINO 404</h1>
      <h3 class="cs-hero_secondary_title cs-font_16">
        The first NFT ERC404 for Early Contributors on the Linea
      </h3>
      <h3 class="cs-hero_secondary_title cs-font_16">
        <br />You will be eligible to mint an OG NFT if your wallet meets one of
        the <br />
        following conditions:
      </h3>
      <h3 class="cs-hero_secondary_title cs-font_16">
        <img src="assets/img/vector.png" class="check-icon" />
        <span>Whitelist</span> <br />
        <img src="assets/img/vector.png" class="check-icon" />
        <span>Linea Voyage NFT holders </span>
      </h3>
      <div class="cs-btn_group">
        <a
          class="cs-btn cs-btn_filed cs-accent_btn cs-modal_btn"
          data-modal="mint"
          ><span>Minting</span></a
        >
      </div>
      <h3 class="cs-hero_subtitle cs-font_16 cs-font_16_sm cs-body_line_height">
        Max 01 NFT Per Wallet.<br />
        <span>Price: </span>
        <img src="assets/img/ethe.png" />
        <span> 0.0018</span>
      </h3>
    </div>
    <div
      class="cs-hero_img wow fadeIn"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
    >
      <img src="assets/img/group_img.png" alt="Hero Image" />
    </div>
  </div>
</section>
<!-- End Hero -->
