<section>
  <div class="cs-height_95 cs-height_lg_65"></div>
  <div class="container">
    <div
      class="cs-seciton_heading cs-style1 text-center wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
    >
      <h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">
        Simple Steps
      </h3>
      <h2 class="cs-section_subtitle cs-m0 cs-font_36 cs-font_24_sm">
        Minting Techniques
      </h2>
    </div>
    <div class="cs-height_50 cs-height_lg_30"></div>
    <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
      <div class="col-xl-3 col-md-6">
        <div class="cs-card cs-style3 text-center cs-light_bg">
          <div class="cs-card_in">
            <div
              class="cs-card_number cs-font_30 cs-font_24_sm cs-primary_font cs-body_line_height cs-center"
            >
              1
            </div>
            <h3 class="cs-card_title cs-font_30 cs-font_24_sm cs-m0">
              Connect Your Wallet
            </h3>
          </div>
        </div>
        <div class="cs-height_25 cs-height_lg_25"></div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="cs-card cs-style3 text-center cs-light_bg">
          <div class="cs-card_in">
            <div
              class="cs-card_number cs-font_30 cs-font_24_sm cs-primary_font cs-body_line_height cs-center"
            >
              2
            </div>
            <h3 class="cs-card_title cs-font_30 cs-font_24_sm cs-m0">
              Select Your Quantity
            </h3>
          </div>
        </div>
        <div class="cs-height_25 cs-height_lg_25"></div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="cs-card cs-style3 text-center cs-light_bg">
          <div class="cs-card_in">
            <div
              class="cs-card_number cs-font_30 cs-font_24_sm cs-primary_font cs-body_line_height cs-center"
            >
              3
            </div>
            <h3 class="cs-card_title cs-font_30 cs-font_24_sm cs-m0">
              Transection Confirm
            </h3>
          </div>
        </div>
        <div class="cs-height_25 cs-height_lg_25"></div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="cs-card cs-style3 text-center cs-light_bg">
          <div class="cs-card_in">
            <div
              class="cs-card_number cs-font_30 cs-font_24_sm cs-primary_font cs-body_line_height cs-center"
            >
              4
            </div>
            <h3 class="cs-card_title cs-font_30 cs-font_24_sm cs-m0">
              Recive Your NFTs
            </h3>
          </div>
        </div>
        <div class="cs-height_25 cs-height_lg_25"></div>
      </div>
    </div>
  </div>
</section>
