<footer class="container-footer">
  <div class="upper">
    <div class="upper-left">
      <div class="up">
        <span>Whitepaper</span>
        <span>Terms of Use</span>
        <span>News & Updates</span>
        <span>Our Partners</span>
      </div>
      <div class="low">
        <span>Tokenomics & allocation</span>
        <span>Launch contribution</span>
      </div>
    </div>
    <div class="upper-right">
      <p>Follow us on</p>
      <div>
        <a href="https://twitter.com/linea_erc404">
          <img src="assets/img/twitter.png" />
        </a>
        <a href="https://discord.gg/QgfdFXnN">
          <img src="assets/img/discord.png" />
        </a>
      </div>
    </div>
  </div>
  <div class="bellow">
    <div class="bellow-left">
      <p class="build">Build on</p>
      <img src="assets/img/site_logo.png" />
    </div>
    <div class="bellow-right">
      <p>Copyright © 2024 Dino. All Rights Reserved</p>
    </div>
  </div>
</footer>
