<div class="container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="cs-light_bg text-center cs-radius_10">
        <div class="cs-height_60 cs-height_lg_60"></div>
        <div
          class="cs-font_64 cs-font_36_sm cs-m0 cs-primary_font cs-primary_color cs-heading_line_height cs-bold"
        >
          <span data-count-to="365" class="odometer"></span>
        </div>
        <p class="cs-m0 cs-font_24 cs-heading_line_height cs-font_22_sm">
          Total Items
        </p>
        <div class="cs-height_65 cs-height_lg_65"></div>
      </div>
      <div class="cs-height_25 cs-height_lg_25"></div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="cs-light_bg text-center cs-radius_10">
        <div class="cs-height_60 cs-height_lg_60"></div>
        <div
          class="cs-font_64 cs-font_36_sm cs-m0 cs-primary_font cs-primary_color cs-heading_line_height cs-bold"
        >
          <span data-count-to="1125" class="odometer"></span>
        </div>
        <p class="cs-m0 cs-font_24 cs-heading_line_height cs-font_22_sm">
          Total Owners
        </p>
        <div class="cs-height_65 cs-height_lg_65"></div>
      </div>
      <div class="cs-height_25 cs-height_lg_25"></div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="cs-light_bg text-center cs-radius_10">
        <div class="cs-height_60 cs-height_lg_60"></div>
        <div
          class="cs-font_64 cs-font_36_sm cs-m0 cs-primary_font cs-primary_color cs-heading_line_height cs-bold"
        >
          <span data-count-to="1.72" class="odometer"></span>
        </div>
        <p class="cs-m0 cs-font_24 cs-heading_line_height cs-font_22_sm">
          Floor Price
        </p>
        <div class="cs-height_65 cs-height_lg_65"></div>
      </div>
      <div class="cs-height_25 cs-height_lg_25"></div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="cs-light_bg text-center cs-radius_10">
        <div class="cs-height_60 cs-height_lg_60"></div>
        <div
          class="cs-font_64 cs-font_36_sm cs-m0 cs-primary_font cs-primary_color cs-heading_line_height cs-bold"
        >
          <span data-count-to="42.2" class="odometer"></span>k
        </div>
        <p class="cs-m0 cs-font_24 cs-heading_line_height cs-font_22_sm">
          Volume Traded
        </p>
        <div class="cs-height_65 cs-height_lg_65"></div>
      </div>
      <div class="cs-height_25 cs-height_lg_25"></div>
    </div>
  </div>
</div>
