<!-- Start CTA -->

<div id="container_join_us" data-src="assets/img/footer_background.png">
  <div class="container_content">
    <h2>Join DINO 404 Community</h2>
    <p>Be part of our amazing community and stay tuned for any news.</p>
    <a href="" class="button_join_us">Join us now</a>
  </div>
</div>

  <!-- End CTA -->