<div
  class="cs-slider cs-style1 cs-gap-24 wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.5s"
  data-src="assets/img/bigbg2.png"
>
  <div
    class="cs-slider_container"
    data-autoplay="1"
    data-loop="1"
    data-speed="600"
    data-center="1"
    data-fade-slide="0"
    data-slides-per-view="responsive"
    data-xs-slides="1"
    data-sm-slides="3"
    data-md-slides="4"
    data-lg-slides="5"
    data-add-slides="6"
    
  >
    <div class="cs-slider_wrapper">
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
      <div class="cs-slide">
        <a href="#" class="cs-image_box cs-style2">
          <div class="cs-image_box_in cs-white_bg">
            <div class="cs-image_box_img">
              <img src="assets/img/Baryonyx.png" alt="Product" />
            </div>
          </div>
        </a>
      </div>
      <!-- .cs-slide -->
    </div>
  </div>
  <!-- .cs-slider_container -->
  <div class="cs-pagination cs-style1 cs-hide_desktop cs-accent_color"></div>
  <div class="cs-slider_arrows cs-style1 cs-center">
    <div
      class="cs-left_arrow cs-center cs-radius_3 cs-accent_bg_hover cs-white_bg cs-white_color_hover"
    >
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 4.32031L8 12.3203L16 20.3203"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div
      class="cs-right_arrow cs-center cs-radius_3 cs-accent_bg_hover cs-white_bg cs-white_color_hover"
    >
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 4.32031L16 12.3203L8 20.3203"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</div>
<!-- .cs-slider -->
