<!-- Start Goals -->
<section id="roadmap">
  <div class="title">
    <p class="feature">FEATURED</p>
    <p class="section-name">Roadmap</p>
  </div>
  <div class="phases">
        <div class="phase phase-1">
        <div class="phase-content">
            <div class="content">
            <p class="phase-number">Phase 1</p>
            <div class="description">
                <span>- Launch OG NFT Collection</span>
            </br>
                <span>
                - The team plans to expand the virtual world, introducing new
                environments, quests, and challenges for players to explore
                </span>
            </div>
            </div>
        </div>
        </div>
        <div class="phase phase-2">
            <div class="phase-content">
            <div class="content">
                <p class="phase-number">Phase 2</p>
                <div class="description">
                <span>- Free Mint unique dinosaur eggs</span>
                </br>
                <span>
                    - Blockchain Game version 1 (basic features)
                </span>
                </br>
                <span>
                - The point-earning mechanism
                </span>
                </div>
            </div>
            </div>
        </div>
        <div class="phase phase-3">
            <div class="phase-content">
            <div class="content">
                <p class="phase-number">Phase 3</p>
                <div class="description">
                <span>- Blockchain Game version 2 (upgraded features)</span>
                </br>
                <span>
                    - Airdrop for Community
                </span>
                </br>
                <span>
                    - Launch token $DINO
                </span>     
                </br>
                <span>
                    - Listed on Cex/Dex
                </span>
                </div>
            </div>
            </div>
        </div>
        <div class="phase phase-4">
            <div class="phase-content">
            <div class="content">
                <p class="phase-number">Phase 4</p>
                <div class="description">
                <span>- The token-earning mechanism</span>
                </br>
                <span>
                    - Integrating Metaverse into the game
                </span>
                </div>
            </div>
            </div>
        </div>
        <div class="image">
            <div class="container-dot-green">
                <img src="assets/img/alien_planets.png" class="dot-green"/>
                <img src="assets/img/egg_1.png" class="egg egg-1"/>
                <img src="assets/img/egg_2.png" class="egg egg-2"/>
                <img src="assets/img/egg_3.png" class="egg egg-3"/>
                <img src="assets/img/egg_4.png" class="egg egg-4"/>
            </div>
        </div>
   </div>
   <div class="phases mobile">
    <div class="row-phase">
        <div>
            <img src="assets/img/egg_1.png" class="egg egg-1"/>
        </div>
        <div class="phase phase-1">
         <div class="phase-content">
             <div class="content">
             <p class="phase-number">Phase 1</p>
             <div class="description">
                 <span>- Launch OG NFT Collection</span>
             </br>
                 <span>
                 - The team plans to expand the virtual world, introducing new
                 environments, quests, and challenges for players to explore
                 </span>
             </div>
             </div>
         </div>
        </div>
    </div>
    <div class="row-phase">
        <div>
            <img src="assets/img/egg_2.png" class="egg egg-2"/>
        </div>
        <div class="phase phase-2">
            <div class="phase-content">
                <div class="content">
                    <p class="phase-number">Phase 2</p>
                    <div class="description">
                    <span>- Free Mint unique dinosaur eggs</span>
                    </br>
                    <span>
                        - Blockchain Game version 1 (basic features)
                    </span>
                    </br>
                    <span>
                    - The point-earning mechanism
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-phase">
        <div>
            <img src="assets/img/egg_3.png" class="egg egg-3"/>
        </div>
        <div class="phase phase-3">
            <div class="phase-content">
                <div class="content">
                    <p class="phase-number">Phase 3</p>
                    <div class="description">
                    <span>- Blockchain Game version 2 (upgraded features)</span>
                    </br>
                    <span>
                        - Airdrop for Community
                    </span>
                    </br>
                    <span>
                        - Launch token $DINO
                    </span>     
                    </br>
                    <span>
                        - Listed on Cex/Dex
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="row-phase">
    <div>
        <img src="assets/img/egg_4.png" class="egg egg-4"/>
    </div>
    <div class="phase phase-4">
        <div class="phase-content">
            <div class="content">
                <p class="phase-number">Phase 4</p>
                <div class="description">
                <span>- The token-earning mechanism</span>
                </br>
                <span>
                    - Integrating Metaverse into the game
                </span>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
</section>
<!-- End Goals -->
