<!-- Start Services -->
<section id="minttut">
  <div class="container-content">
    <div class="about-item">
      <img src="assets/img/rec_green.png" />
      <p class="title">Mint NTF</p>
      <p class="description">
        As an early contributor, users will have the privilege of gaining access
        to our exclusive collection of OG NFTs. Additionally, Dino404 will soon
        be launching an extraordinary initiative that allows users to
        participate in the free NFT minting process to acquire unique dinosaur
        eggs.
      </p>
    </div>
    <div class="about-item">
      <img src="assets/img/rec_yellow.png" />
      <p class="title">Play To Earn</p>
      <p class="description">
        A Land-based Metaverse in which players can create their own characters.
        Unleash the full potential of majestic dinosaurs by providing them with
        top-notch care, forging new alliances, and engaging in thrilling in-game
        battles to expedite their evolution. games, play to earn quests, etc
      </p>
    </div>
    <div class="about-item">
      <img src="assets/img/rec_red.png" />
      <p class="title">Metaverse</p>
      <p class="description">
        Combining cutting-edge technology will give you an authentic and
        immersive experience in the world of amazing dinosaurs.
      </p>
    </div>
  </div>
</section>
<!-- End Services -->
