  <!-- Start Services -->
  <section id="minttut">
    
    <div class="container"> 
      <div class="row">
        <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <img src="assets/img/rec_green.png" alt="">
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0">Mint ERC404 Standard</h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">As an early contributor, you'll have access to exclusive ERC404 OG NFTs. But that's not all – we will also be launching free NFT minting for unique dinosaur eggs. Join us and embark on this exciting journey of discovery. 
            </div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
        <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <img src="assets/img/rec_yellow.png" alt="">
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0">Play To Earn</h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">Unleash the full potential of your majestic dinosaurs by providing them with top-notch care, forging new alliances, and engaging in thrilling in-game battles to expedite their evolution. Don't forget to carefully heed the crucial tips and guidelines outlined in our lite paper when tending to your prehistoric companions. 
            </div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
        <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <img src="assets/img/rec_red.png" alt="">
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0">Metaverse Ready</h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">Combining cutting-edge technology will give you an authentic and immersive experience in the world of amazing dinosaurs.
            </div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Services -->