<!-- Start Services -->
<section id="minttut">
  <div class="container-content">
    <div class="about-item">
      <img src="assets/img/rec_green.png" />
      <p class="title">Mint ERC404 Standard</p>
      <p class="description">
        As an early contributor, you'll have access to exclusive ERC404 OG NFTs.
        But that's not all – we will also be launching free NFT minting for
        unique dinosaur eggs. Join us and embark on this exciting journey of
        discovery.
      </p>
    </div>
    <div class="about-item">
      <img src="assets/img/rec_yellow.png" />
      <p class="title">Play To Earn</p>
      <p class="description">
        Unleash the full potential of your majestic dinosaurs by providing them
        with top-notch care, forging new alliances, and engaging in thrilling
        in-game battles to expedite their evolution. Don't forget to carefully
        heed the crucial tips and guidelines outlined in our lite paper when
        tending to your prehistoric companions.
      </p>
    </div>
    <div class="about-item">
      <img src="assets/img/rec_red.png" />
      <p class="title">Metaverse Ready</p>
      <p class="description">
        Combining cutting-edge technology will give you an authentic and
        immersive experience in the world of amazing dinosaurs.
      </p>
    </div>
  </div>
</section>
<!-- End Services -->
